* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.signup-container {
    background-color: #f4f4f4;
    padding: 40px;
    border-radius: 15px;
    max-width: 450px;
    width: 100%;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

/* Styling for Checkbox */
.checkbox-container {
    display: flex;
    align-items: center; 
    text-align: left;
    margin-bottom: 20px;
}

.checkbox-container input {
    margin-right: 10px;
    vertical-align: middle;
}

.signup-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: rgb(124, 70, 124);
    color: black;
}
